<div class="container">
    <h3>Simple user service</h3>
    <p>This is a simple frontend for a java spring api. The code for the frontend and the backend
        is available on 
        <a href="https://github.com/NDelbiaggio/simpleuserservice">Github.</a>
    </p>
    <p>
        This application let you do the following:
    </p>
    <ul class="list-group">
        <li  
            *ngFor="let feature of features" 
            class="list-group-item">
            <a [routerLink]="['/',feature.url]">
                {{feature.name}}
            </a>
        </li>        
    </ul>
</div>
